<h2>Welcome to Pup Portal!</h2>

<p>Click the links below to add a dog to the system or view the current dogs:</p>

<!-- Add more space -->
<br>

<!--href links to newdog home route-->
<a href="/newdog">Add a Dog</a>

<!-- Add more space -->

<!--href links to viewalldogs home route-->
<a href="/viewalldogs">View All Dogs</a>
