<!-- newdog handlebars view accessed by clicking /newdog anchor link on homepage view-->
<!--should only be accessible to authorized/logged in users-->
<h2>Add a Dog: Enter the dog's information in the form below.</h2>

<!--To DO: add classes and IDs to work with the newDog.js file selectors-->
<form class="">
  <div class="">
    <label for="">Name:</label>
    <input class="form-input" type="text" id="" />
  </div>
  <div class="">
    <label for="">Age:</label>
    <input class="form-input" type="text" id="" />
  </div>
  <div class="">
    <label for="">Breed:</label>
    <input class="form-input" type="text" id="" />
  </div>
  <div class="">
    <label for="">Size:</label>
    <input class="form-input" type="text" id="" />
  </div>
  <div class="">
    <label for="">Weight:</label>
    <input class="form-input" type="text" id="" />
  </div>
  <div class="">
    <label for="">Sex:</label>
    <input class="form-input" type="text" id="" />
  </div>
  <div class="">
    <label for="">Vaccinated?:</label>
    <input class="form-input" type="text" id="" />
  </div>
   <div class="">
    <label for="">Spayed/Neutered?:</label>
    <input class="form-input" type="text" id="" />
  </div>
   <div class="">
    <label for="">Adoption Fee:</label>
    <input class="form-input" type="text" id="" />
  </div>
  <div class="">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>


<!--TO DO: Need a script here to connect to a JS file in the JS folder which will handle the form inputs-->