<!-- newdog handlebars view accessed by clicking /newdog anchor link on homepage view-->
<!--should only be accessible to authorized/logged in users-->
<h2>To add a dog, please enter the dog's information in the form below:</h2>
<!--To DO: add classes and IDs to work with the newDog.js file selectors-->
<form class="form new-dog-form">
  <div class="form-group mb-4">
    <label for="new-name">Name:</label>
    <input class="form-input" type="text" id="new-name" />
  </div>
  <div class="form-group mb-4">
    <label for="new-age">Age:</label>
    <input class="form-input" type="text" id="new-age" />
  </div>
  <div class="form-group mb-4">
    <label for="new-breed">Breed:</label>
    <input class="form-input" type="text" id="new-breed" />
  </div>
  <div class="form-group mb-4">
    <label for="new-size">Size:</label>
    <input class="form-input" type="text" id="new-size" />
  </div>
  <div class="form-group mb-4">
    <label for="new-weight">Weight:</label>
    <input class="form-input" type="text" id="new-weight" />
  </div>
  <div class="form-group mb-4">
    <label for="new-sex">Sex:</label>
    <input class="form-input" type="text" id="new-sex" />
  </div>
  <div class="form-group mb-4">
    <label for="new-vaccinated">Vaccinated?:</label>
    <input class="form-input" type="text" id="new-vaccinated" />
  </div>
  <div class="form-group mb-4">
    <label for="new-spayedneutered">Spayed/Neutered?:</label>
    <input class="form-input" type="text" id="new-spayedneutered" />
  </div>
  <div class="form-group mb-4">
    <label for="new-fee">Adoption Fee:</label>
    <input class="form-input" type="text" id="new-fee" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
<!--Script here to connect to a JS file in the JS folder which will handle the form inputs-->
<script src="/js/newdog.js"></script>